@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body{
    font-family: "Roboto Serif", serif;
}
.full-height{
    min-height: 100vh;
}
.scrollbar-container {
    height: 65vh; 
    overflow-y: auto;
    scrollbar-width: thin;
}
.custom-hr{
    height: .1rem;
    border-radius: 2px;
    background-color: white;
}

.text-aliceblue{
    color: grey;
}
.bg-primary-hover:hover a{
    color: aliceblue;
    cursor: pointer;
    transition: all .2s ease-in-out;
}


.img-height{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit:cover;
}
#chatbox{
    height: 75vh;
}
.default-prompt:hover{
    background-color:silver;
    cursor: pointer;
    transition: all .3s ease-in-out;
}